/**
 * Tiny MCE Editor
 */
.mce-toolbar .mce-i-format-aside {
  font: normal 20px/1 'dashicons';
  padding: 0;
  vertical-align: top;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: -2px;
  padding-right: 2px; }

.mce-toolbar .mce-i-format-aside:before {
  content: "\f497"; }

/**
 * Document Version Control
 */
#binder_version_control.postbox .inside {
  margin: 0px;
  padding: 0px; }

#binder_version_control table {
  border-collapse: collapse;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px; }

#binder_version_control table td,
#binder_version_control table th {
  border-right: 1px solid #e5e5e5; }

#binder_version_control table td:first-child,
#binder_version_control table th:first-child {
  padding-left: 12px; }

#binder_version_control table td:last-child,
#binder_version_control table th:last-child {
  border-right: 0px solid #e5e5e5;
  padding-right: 12px; }

#binder_version_control table th,
#binder_version_control table td {
  padding: 5px;
  vertical-align: top;
  text-align: left; }

#binder_version_control table tr td {
  background-color: #fafafa; }

#binder_version_control table tr th,
#binder_version_control table tr:nth-child(odd) td {
  background-color: #fefefe; }

#binder_version_control table input[type="file"],
#binder_version_control table input[type="text"],
#binder_version_control table textarea {
  width: 100%; }

@media screen and (max-width: 1040px) {
  #binder_version_control table {
    margin-top: -1px; }
  #binder_version_control table th {
    display: none; }
  #binder_version_control table td {
    display: block;
    border-bottom: 1px solid #e5e5e5;
    border-top: 0px solid #e5e5e5;
    border-left: 0px solid #e5e5e5;
    border-right: 0px solid #e5e5e5;
    width: 100%;
    box-sizing: border-box;
    padding: 10px; }
  #binder_version_control table td:first-child {
    border-top: 1px solid #e5e5e5; }
  #binder_version_control table td:last-child {
    margin-bottom: 2em; }
  #binder_version_control table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1em; }
  #binder_version_control table tr td {
    box-sizing: border-box; }
  #binder_version_control table input[type="text"],
  #binder_version_control table textarea {
    width: 50%; } }

/**
 * Issues with select2
 *
 * The z-index was too small to show in the pop-up.
 */
.select2-container {
  z-index: 1000100 !important; }

/**
 * Tablesorter
 */
#binder_version_control table.binder-history thead tr .header {
  background-image: url(../img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
  padding-right: 20px; }

#binder_version_control table.binder-history thead tr .header.headerSortUp {
  background-image: url(../img/asc.gif); }

#binder_version_control table.binder-history thead tr .header.headerSortDown {
  background-image: url(../img/desc.gif); }

/**
 * Add Entry Screen
 */
#binder_add_entry .meta-box__label {
  font-weight: bold; }

/*# sourceMappingURL=plugin-admin.css.map */